
.input_text {
    border-left-width:0px;
    border-right-width:0px;
    border-top-width:0px;
    border-bottom-width:0px;

}

.input_text2 {
    border-left-width:0px;
    border-right-width:0px;
    border-top-width:0px;
    border-bottom-width:0px;
    background:#f6f6f6;
}


